{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Welcome to SRMS</h1>
    <p><strong><i>Manage teachers</i></strong></p>
{% endblock %}

<html>
    <body>
        <h1>Biggest  header tag</h1>
        <p></p>
        <i></i>
        <strong>
            <h1></h1>
        </strong>
        <b></b>
        <img />
        <a href="/teachers.html">go to teachers</a>
        <ul>
            <li>item 1</li>
            <li>item 2</li>
        </ul>

    <div style="color: red; width: 200%; height: 40px; border-width: 1xp;">

    </div>

    <div>

    </div>
    </body>
</html>